@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  color: hsl(var(--foreground));
}

@layer base {
  :root {
    --background: 144 100% 2%;
    --foreground: 180 6% 97%;
    --card: 171 52% 5%;
    --card-foreground: 180 6% 97%;
    --popover: 171, 52%, 5%;
    --popover-foreground: 180 6% 97%;
    --primary: 151 82% 29%;
    --primary-foreground: 180 6% 97%;
    --secondary: 171 43% 12%;
    --secondary-foreground: 180 6% 97%;
    --muted: 171 43% 12%;
    --muted-foreground: 171 8% 54%;
    --accent: 171 43% 12%;
    --accent-foreground: 180 6% 97%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 180 6% 97%;
    --border: 171 43% 12%;
    --input: 171 43% 12%;
    --ring: 170 84% 40%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Global CSS for hiding scrollbars */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom Scrollbar with Transparent Background */
.scrollbar-transparent::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
}

.scrollbar-transparent::-webkit-scrollbar-thumb {
  background-color: transparent; /* Semi-transparent thumb */
  border-radius: 4px; /* Round edges for better appearance */
}

.scrollbar-transparent::-webkit-scrollbar-track {
  background-color: transparent; /* Fully transparent background */
}

.scrollbar-transparent {
  scrollbar-width: thin; /* Firefox: thin scrollbar */
  scrollbar-color: transparent transparent; /* Firefox: thumb and track colors */
}
